# systemd service file for LiPoPi button and low battery shutdown script
# change the /home/pi paths to suite your configuration

[Service]
ExecStart=/home/pi/lipopi/powerdown.py
WorkingDirectory=/home/pi/lipopi/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=powerdown
User=root
Group=root

[Install]
WantedBy=multi-user.target
